<font color=blue>by Vanessa Alumasa</font>

<font color=brown>20/5/2020</font>

In [2]:
import numpy as np
import pandas as pd

In [3]:
from IPython.display import display

In [4]:
df = pd.read_csv('datasets/raw_data.csv')

In [5]:
display(df.head())

,#,Name,Discipline,COSPAR ID,SatCat #,Launch Mass,Dry Mass,On-board Power,Launch Date,Launch Vehicle,...,Periapsis,Apoapsis,Semi-Major Axis,Period,Inclination,Longitude,Eccentricity,Epoch Start,Decay Date,Note
0,1.0,Aryabhatta,Earth Sciences Space Physics,1975-033A,07752,360 kg (790 lb),NaN,46 W,"19 April 1975, 13:10:00 IST",Interkosmos-II,...,568 km (353 mi),611 km (380 mi),NaN,96.5 mins,50.7°,NaN,0.00308,"19 April 1975, 01:30:00 IST",11 February 1992,Active technological experience in building an...
1,2.0,Bhaskara Sega-I,Astronomy Communications Engineering Earth Sci...,1979-051A,11392,444 kg (979 lb),NaN,47 W,"7 June 1979, 16:00:00 IST",Modified SS-5 (SKean IRBM) plus Upper Stage,...,512 km (318 mi),557 km (346 mi),NaN,95.2 mins,50.7°,NaN,0.00325,"7 June 1979, 01:30:00 IST",17 February 1989,First experimental remote sensing satellite. C...
2,3.0,Rohini Technology Payload,Experimental,NaN,NaN,35 kg (77 lb),NaN,3 W,10 August 1979,SLV-3-E1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Intended for measuring in-flight performance o...
3,4.0,Rohini RS-1 (Rohini-1B),Earth Sciences,1980-062A,11899,35 kg (77 lb),NaN,16 W,"18 July 1980, 8:01:00 IST",SLV-3-E2,...,305 km (190 mi),919 km (571 mi),NaN,96.9 mins,44.7°,NaN,0.04389,"18 July 1980, 1:30:00 IST",20 May 1981,Used for measuring in-flight performance of se...
4,5.0,Rohini RS-D1 (Rohini-2),Earth Sciences,1981-051A,12491,38 kg (84 lb),NaN,16 W,"31 May 1981, 10:30:00 IST",SLV-3-D1,...,186 km (116 mi),418 km (260 mi),NaN,90.5 mins,46.3°,NaN,0.01735,"31 May 1981, 1:30:00 IST",8 June 1981,Used for conducting some remote sensing techno...

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 122 entries, 0 to 121
Data columns (total 21 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   #                122 non-null    object
 1   Name             122 non-null    object
 2   Discipline       122 non-null    object
 3   COSPAR ID        112 non-null    object
 4   SatCat #         110 non-null    object
 5   Launch Mass      121 non-null    object
 6   Dry Mass         35 non-null     object
 7   On-board Power   82 non-null     object
 8   Launch Date      122 non-null    object
 9   Launch Vehicle   122 non-null    object
 10  Launch Site      122 non-null    object
 11  Periapsis        102 non-null    object
 12  Apoapsis         103 non-null    object
 13  Semi-Major Axis  90 non-null     object
 14  Period           102 non-null    object
 15  Inclination      103 non-null    object
 16  Longitude        48 non-null     object
 17  Eccentricity     28 non-null     float64
 18  Epoch Start      37 non-null     object
 19  Decay Date       10 non-null     object
 20  Note             121 non-null    object
dtypes: float64(1), object(20)
memory usage: 20.1+ KB

1. Number of samples

This is the number of rows in the dataframe.

In [7]:
df.shape[0]

122

2. Number of columns

In [8]:
df.shape[1]

21

3. Duplicate rows

In [9]:
df.duplicated().sum()

0

4. Datatypes of columns

In [10]:
df.dtypes

#                   object
Name                object
Discipline          object
COSPAR ID           object
SatCat #            object
Launch Mass         object
Dry Mass            object
On-board Power      object
Launch Date         object
Launch Vehicle      object
Launch Site         object
Periapsis           object
Apoapsis            object
Semi-Major Axis     object
Period              object
Inclination         object
Longitude           object
Eccentricity       float64
Epoch Start         object
Decay Date          object
Note                object
dtype: object

5. Features with missing values

In [11]:
df.isnull().sum()

#                    0
Name                 0
Discipline           0
COSPAR ID           10
SatCat #            12
Launch Mass          1
Dry Mass            87
On-board Power      40
Launch Date          0
Launch Vehicle       0
Launch Site          0
Periapsis           20
Apoapsis            19
Semi-Major Axis     32
Period              20
Inclination         19
Longitude           74
Eccentricity        94
Epoch Start         85
Decay Date         112
Note                 1
dtype: int64

6. Number of non-null unique values for features in each dataset

In [12]:
df.notnull().sum()

#                  122
Name               122
Discipline         122
COSPAR ID          112
SatCat #           110
Launch Mass        121
Dry Mass            35
On-board Power      82
Launch Date        122
Launch Vehicle     122
Launch Site        122
Periapsis          102
Apoapsis           103
Semi-Major Axis     90
Period             102
Inclination        103
Longitude           48
Eccentricity        28
Epoch Start         37
Decay Date          10
Note               121
dtype: int64

In [13]:
for column in df.columns:
    uniques = df[str(column)].nunique()
    print(f'The column {column} has {uniques} unique values.')

The column # has 122 unique values.
The column Name has 122 unique values.
The column Discipline has 34 unique values.
The column COSPAR ID has 112 unique values.
The column SatCat # has 110 unique values.
The column Launch Mass has 108 unique values.
The column Dry Mass has 28 unique values.
The column On-board Power has 59 unique values.
The column Launch Date has 103 unique values.
The column Launch Vehicle has 96 unique values.
The column Launch Site has 6 unique values.
The column Periapsis has 102 unique values.
The column Apoapsis has 103 unique values.
The column Semi-Major Axis has 56 unique values.
The column Period has 60 unique values.
The column Inclination has 63 unique values.
The column Longitude has 36 unique values.
The column Eccentricity has 25 unique values.
The column Epoch Start has 33 unique values.
The column Decay Date has 10 unique values.
The column Note has 120 unique values.

7. What those unique values are and counts for each

In [14]:
df.columns

Index(['#', 'Name', 'Discipline', 'COSPAR ID', 'SatCat #', 'Launch Mass',
       'Dry Mass', 'On-board Power', 'Launch Date', 'Launch Vehicle',
       'Launch Site', 'Periapsis', 'Apoapsis', 'Semi-Major Axis', 'Period',
       'Inclination', 'Longitude', 'Eccentricity', 'Epoch Start', 'Decay Date',
       'Note'],
      dtype='object')

In [15]:
for feature in df.columns[:]:
    df[feature].dropna(inplace=True)#drop the null values in each column
    print('***' + feature + '***')
    display(df[feature].value_counts())#get the values and counts of non-null unique values
    print()

***#***

54.0     1
76.0     1
111.0    1
20.0     1
47.0     1
        ..
68.0     1
TBD      1
69.0     1
34.0     1
36.0     1
Name: #, Length: 122, dtype: int64

***Name***

RISAT-2B                          1
IRNSS-1F                          1
APPLE                             1
GSAT-29                           1
HySIS                             1
                                 ..
Megha-Tropiques                   1
INSAT-3D                          1
GSAT-7(INSAT-4F)                  1
SROSS-1                           1
INS-1B(ISRO Nano-Satellite 1B)    1
Name: Name, Length: 122, dtype: int64

***Discipline***

Earth Sciences                                                                                       32
Communications                                                                                       32
Navigation/Global Positioning                                                                         9
Technology Applications                                                                               8
Communications Earth Sciences                                                                         7
Earth Sciences Technology Applications                                                                3
Astronomy Space Physics                                                                               2
Experimental                                                                                          2
Earth observation                                                                                     2
Space Sciences                                                                                        1
Engineering Earth Sciences                                                                            1
Disaster management Radar imaging                                                                     1
Lunar exploration                                                                                     1
Earth imaging for defense applications (details classified)                                           1
Radar imaging                                                                                         1
Astronomy Earth Sciences Space Physics                                                                1
Amateur radio applications, Ionospheric studies and Maritime Satellite applications respectively.     1
Planetary Science                                                                                     1
Planetary Sciences                                                                                    1
Student satellite                                                                                     1
Earth Sciences Space Physics                                                                          1
Engineering                                                                                           1
Communications Engineering                                                                            1
Communications technology demonstrator                                                                1
Astronomy Communications Engineering Earth Sciences                                                   1
Communications satellite                                                                              1
Reconnaissance of electromagnetic spectrum (ELINT)                                                    1
High-throughput Telecommunication Satellite                                                           1
Military satellite                                                                                    1
Solar Physics Space Physics                                                                           1
High-throughput Communication Satellite                                                               1
Communications Technology Applications                                                                1
Hyperspectral imaging satellite                                                                       1
Astronomy Earth Sciences                                                                              1
Name: Discipline, dtype: int64

***COSPAR ID***

2014-001A    1
2007-001C    1
2004-036A    1
2016-054A    1
2016-015A    1
            ..
2018-004A    1
1982-031A    1
2008-021A    1
2016-040J    1
1988-021A    1
Name: COSPAR ID, Length: 112, dtype: int64

***SatCat #***

23751    1
27951    1
42767    1
40880    1
24820    1
        ..
14002    1
11392    1
23731    1
41793    1
41384    1
Name: SatCat #, Length: 110, dtype: int64

***Launch Mass***

1,425 kg (3,142 lb)    6
35 kg (77 lb)          2
444 kg (979 lb)        2
975 kg (2,150 lb)      2
150 kg (330 lb)        2
                      ..
9.7 kg (21 lb)         1
3,164 kg (6,975 lb)    1
1,340 kg (2,950 lb)    1
1,000 kg (2,200 lb)    1
377 kg (831 lb)        1
Name: Launch Mass, Length: 108, dtype: int64

***Dry Mass***

598 kg (1,318 lb)           4
916 kg (2,019 lb)           2
1,218 kg (2,685 lb)         2
1,480 kg (3,260 lb)         2
550 kg (1,210 lb)           2
985 kg (2,172 lb)           1
498 kg (1,098 lb)           1
1,348 kg (2,972 lb)         1
995 kg (2,194 lb)           1
819.4 kg (1,806 lb)         1
1,498 kg (3,303 lb)         1
1,386.55 kg (3,056.8 lb)    1
600 kilograms (1,300 lb)    1
1,150 kg (2,540 lb)         1
1,394 kg (3,073 lb)         1
976 kg (2,152 lb)           1
1,426 kg (3,144 lb)         1
970 kg (2,140 lb)           1
523 kg (1,153 lb)           1
1,440 kg (3,170 lb)         1
110 kg (240 lb)             1
682 kg (1,504 lb)           1
956 kg (2,108 lb)           1
946 kg (2,086 lb)           1
488 kg (1,076 lb)           1
614 kg (1,354 lb)           1
559 kg (1,232 lb)           1
603 kg (1,329 lb)           1
Name: Dry Mass, dtype: int64

***On-board Power***

1660 W      7
16 W        3
900 W       2
986 W       2
6200 W      2
6474 W      2
750 W       2
1400 W      2
90 W        2
809 W       2
47 W        2
3000 W      2
45 W        2
3100 W      2
~ 1000 W    2
6000 W      2
600 W       2
3119 W      1
1000 W      1
1700 W      1
1250 W      1
1320 W      1
1360 W      1
1100 W      1
1671 W      1
6242 W      1
1712 W      1
4.7 kW      1
906 W       1
930 W       1
800 W       1
220 W       1
817 W       1
4500 W      1
5922 W      1
840 W       1
1650 W      1
3500 W      1
3 W         1
2200 W      1
415 W       1
2600 W      1
3.3 kW      1
1 W         1
2280 W      1
1 kW        1
1325 W      1
210 W       1
2765 W      1
2000W       1
550 W       1
46 W        1
1430 W      1
5859 W      1
1164 W      1
40 W        1
13.6 kW     1
510 W       1
2040 W      1
Name: On-board Power, dtype: int64

***Launch Date***

26 September 2016, 9:12:00 IST    3
12 January 2018, 9:29:00 IST      3
15 February 2017, 9:28:00 IST     3
22 June 2016, 9:26:00 IST         3
12 October 2011, 11:00:00 IST     3
                                 ..
29 June 2017, 2:45:00 IST         1
1 June 1983, 13:19:00 IST         1
29 March 2018, 16:56:00 IST       1
22 May 2019, 5:30:00 IST          1
12 April 2018, 04:04:00           1
Name: Launch Date, Length: 103, dtype: int64

***Launch Vehicle***

PSLV-C37           3
PSLV-C35           3
PSLV-C34           3
Ariane-5G          3
PSLV-C18           3
                  ..
PSLV-C24           1
Ariane 5 VA-227    1
PSLV-CA C46        1
PSLV-D3            1
Interkosmos-II     1
Name: Launch Vehicle, Length: 96, dtype: int64

***Launch Site***

Satish Dhawan Space Centre, Sriharikota, Andhra Pradesh    87
Centre Spatial Guyanais, Kourou                            25
Air Force Eastern Test Range, Florida                       3
Baikonur Cosmodrome, Kazakhstan                             3
Kapustin Yar Missile and Space Complex                      3
Vandenberg Air Force Base, California, USA                  1
Name: Launch Site, dtype: int64

***Periapsis***

35,720.2 km (22,195.5 mi)    1
568 km (353 mi)              1
35,741.2 km (22,208.6 mi)    1
500.8 km (311.2 mi)          1
723.6 km (449.6 mi)          1
                            ..
35,715.5 km (22,192.6 mi)    1
605.5 km (376.2 mi)          1
723.9 km (449.8 mi)          1
35,786.9 km (22,236.9 mi)    1
514.6 km (319.8 mi)          1
Name: Periapsis, Length: 102, dtype: int64

***Apoapsis***

626.4 km (389.2 mi)          1
767.6 km (477.0 mi)          1
611 km (380 mi)              1
514.8 km (319.9 mi)          1
35,795.3 km (22,242.2 mi)    1
                            ..
35,846.9 km (22,274.2 mi)    1
35,872.6 km (22,290.2 mi)    1
35,817 km (22,256 mi)        1
823.3 km (511.6 mi)          1
~ 80,000 km (50,000 mi)§     1
Name: Apoapsis, Length: 103, dtype: int64

***Semi-Major Axis***

42,164 km (26,199 mi)    16
42,165 km (26,200 mi)     9
42,166 km (26,201 mi)     3
7,011 km (4,356 mi)       3
7,197 km (4,472 mi)       3
6,886 km (4,279 mi)       3
42,338 km (26,308 mi)     2
6,881 km (4,276 mi)       2
42,163 km (26,199 mi)     2
42,285 km (26,275 mi)     1
42,248 km (26,252 mi)     1
6,985 km (4,340 mi)       1
42,193 km (26,218 mi)     1
41,197 km (25,599 mi)     1
6,931 km (4,307 mi)       1
42,241 km (26,247 mi)     1
42,186 km (26,213 mi)     1
7,060 km (4,390 mi)       1
6,917 km (4,298 mi)       1
7,228 km (4,491 mi)       1
6,845 km (4,253 mi)       1
6,992 km (4,345 mi)       1
7,019 km (4,361 mi)       1
-                         1
42,017 km (26,108 mi)     1
42,162 km (26,198 mi)     1
711 km (442 mi)           1
7,190 km (4,470 mi)       1
6,887 km (4,279 mi)       1
7,283 km (4,525 mi)       1
6,996 km (4,347 mi)       1
7,238 km (4,497 mi)       1
42,304 km (26,286 mi)     1
7,101 km (4,412 mi)       1
6,879 km (4,274 mi)       1
7,103 km (4,414 mi)       1
42,160 km (26,200 mi)     1
7,062 km (4,388 mi)       1
6,980 km (4,340 mi)       1
7,124 km (4,427 mi)       1
7,189 km (4,467 mi)       1
7,281 km (4,524 mi)       1
7,096 km (4,409 mi)       1
42,615 km (26,480 mi)     1
7,194 km (4,470 mi)       1
6,878 km (4,274 mi)       1
6,913 km (4,296 mi)       1
6,885 km (4,278 mi)       1
7,156 km (4,447 mi)       1
42,298 km (26,283 mi)     1
7,163 km (4,451 mi)       1
42,446 km (26,375 mi)     1
42,233 km (26,242 mi)     1
7,195 km (4,471 mi)       1
40,942 km (25,440 mi)     1
7,235 km (4,496 mi)       1
Name: Semi-Major Axis, dtype: int64

***Period***

1436.1 mins              21
94.8 mins                 4
97.4 mins                 3
1,436.1 minutes           3
1436.2 mins               3
101.3 mins                3
1436.0 mins               3
94.6 mins                 2
99.3 mins                 2
103.1 mins                2
95.2 mins                 2
101.2 mins                2
97.1 mins                 2
101.1 mins                2
94.7 mins                 2
98.4 mins                 2
95.4 mins                 1
97 mins                   1
95.3 mins                 1
100.6 mins                1
13 hours                  1
101.9 mins                1
1445 mins                 1
1445.0 mins               1
96.9 mins                 1
100.4 mins                1
102.1 mins                1
96.7 mins                 1
95.7 minutes              1
94.8 minutes              1
1436.1 minutes            1
1435.9 mins               1
1442.9 mins               1
97 minutes 26 seconds     1
1440.4 mins               1
96.5 mins                 1
1374.1 mins               1
98.1 mins                 1
1440 mins                 1
1387 mins                 1
1439.6 mins               1
90.5 mins                 1
1450.6 mins               1
99.1 mins                 1
93.9 mins                 1
1428.6 mins               1
1437.6 mins               1
1442.3 mins               1
102.2 mins                1
1443.2 mins               1
90 mins                   1
91 mins                   1
96.8 mins                 1
97.6 mins                 1
1459.2 mins               1
99.7 minutes              1
1450.9 minutes            1
4602 mins§                1
1437.2 mins               1
95.9 mins                 1
Name: Period, dtype: int64

***Inclination***

0.0°     10
0.1°      7
97.5°     6
97.9°     5
98.2°     3
         ..
44.7°     1
6.3°      1
46°       1
3°        1
11.2°     1
Name: Inclination, Length: 63, dtype: int64

***Longitude***

83° E        5
93.5° E      4
74.0° E      4
55.0° E      3
71.66° E     1
95.03° E     1
111.75° E    1
125.76° E    1
82.5° E      1
16.18° E     1
32.5° E      1
63°E         1
55° E        1
97.57° E     1
158.51° W    1
126.83° E    1
55°E         1
82.0° E      1
107° W       1
60.57° E     1
47.5° E      1
107.82° E    1
199° W       1
48°E         1
21.41° W     1
129° E       1
97.5° E      1
74°E         1
40.85° E     1
87° E        1
83°E         1
17.37° E     1
89.71° E     1
112° E       1
74° E        1
156.74° W    1
Name: Longitude, dtype: int64

***Eccentricity***

0.00385    2
0.00014    2
0.00245    2
0.00308    1
0.03306    1
0.04389    1
0.00159    1
0.00035    1
0.00077    1
0.00325    1
0.00160    1
0.00533    1
0.00143    1
0.03719    1
0.01735    1
0.00202    1
0.00319    1
0.02261    1
0.01295    1
0.00371    1
0.01131    1
0.00381    1
0.03431    1
0.00513    1
0.00271    1
Name: Eccentricity, dtype: int64

***Epoch Start***

29 August 1991, 1:30:00 IST              2
28 April 2008, 5:24:00 IST               2
12 June 1990, 1:30:00 IST                2
4 January 2007, 4:27:00 IST              2
19 April 1975, 01:30:00 IST              1
21 May 1992, 1:30:00 IST                 1
7 June 1979, 01:30:00 IST                1
20 November 1981, 00:30:00 IST           1
28 September 2003 00:44:00 IST           1
18 April 2001, 11:43:00 IST              1
26 May 1999, 8:12:00 IST                 1
22 October 2008, 2:22:00 IST             1
21 March 1996, 5:23:00 IST               1
20 August 2019, 09:02 IST (03:32 UTC)    1
17 October 2003, 6:24:00 IST             1
31 May 1983, 09:19:00 IST                1
5 May 2005, 6:14:00 IST                  1
31 May 1981, 1:30:00 IST                 1
15 October 1994, 6:38:00 IST             1
17 April 1983, 00:30:00 IST              1
28 December 1995, 7:15:00 IST            1
10 April 1982, 07:17:00 IST              1
22 October 2002, 6:03:00 IST             1
30 June 2000, 00:59:00 IST               1
18 July 1980, 1:30:00 IST                1
15 July 2011, 12:48:00 IST               1
12 October 2011, 7:00:00 IST             1
19 June 1981, 1:30:00 IST                1
29 September 1997, 6:17:00 IST           1
10 July 1992, 1:30:00 IST                1
4 May 1994, 1:30:00 IST                  1
22 July 1988, 00:42:00 IST               1
17 March 1988, 00:30:00 IST              1
Name: Epoch Start, dtype: int64

***Decay Date***

14 July 1992        1
17 February 1989    1
30 November 1991    1
8 June 1981         1
11 February 1992    1
12 July 2001        1
20 May 1981         1
18 April 2012       1
March 27, 2019      1
19 April 1990       1
Name: Decay Date, dtype: int64

***Note***

This is one of 2 nano-satellites designed and manufactured by ISRO, are part of the constellation of 104 satellites launched in a single go                                                                                                                                                                          2
Used PSLV's 4th stage as orbital platform.                                                                                                                                                                                                                                                                           1
India's second lunar exploration mission. Orbital insertion successful, soft landing failed. First operational flight of GSLV Mk III.                                                                                                                                                                                1
Active technological experience in building and operating a satellite system. This was India's first indigenously designed and built satellite                                                                                                                                                                       1
Also designated GSAT-3. India's first exclusive educational satellite                                                                                                                                                                                                                                                1
                                                                                                                                                                                                                                                                                                                    ..
Identical to INSAT-4A. Further augments the INSAT capacity for direct-to-home (DTH) television services and other communications. On the night of 7 July 2007 INSAT-4B experienced a power supply glitch which led to switching 'off' of 50 per cent of the transponder capacity (6 Ku and 6 C-Band transponders)    1
Carried payload for launch vehicle performance monitoring and for gamma ray astronomy. Did not achieve orbit                                                                                                                                                                                                         1
Multipurpose communication: business communication, developmental communication, and mobile communications                                                                                                                                                                                                           1
Electromagnetic intelligence to track any enemy radars for Indian Armed Forces.                                                                                                                                                                                                                                      1
GSAT-6 is a communication satellite. GSAT- 6 features an unfurlable antenna, largest on board any satellite. Launch of GSLV-D6 also marks the success of indigenously developed upper stage cryogenic engine                                                                                                         1
Name: Note, Length: 120, dtype: int64

In [16]:
for column in df.columns:
    print(f"The following are the counts of each unique value in the {column} column:")
    print(df[str(column)].value_counts())
    print('\n')

The following are the counts of each unique value in the # column:
54.0     1
76.0     1
111.0    1
20.0     1
47.0     1
        ..
68.0     1
TBD      1
69.0     1
34.0     1
36.0     1
Name: #, Length: 122, dtype: int64


The following are the counts of each unique value in the Name column:
RISAT-2B                          1
IRNSS-1F                          1
APPLE                             1
GSAT-29                           1
HySIS                             1
                                 ..
Megha-Tropiques                   1
INSAT-3D                          1
GSAT-7(INSAT-4F)                  1
SROSS-1                           1
INS-1B(ISRO Nano-Satellite 1B)    1
Name: Name, Length: 122, dtype: int64


The following are the counts of each unique value in the Discipline column:
Earth Sciences                                                                                       32
Communications                                                                                       32
Navigation/Global Positioning                                                                         9
Technology Applications                                                                               8
Communications Earth Sciences                                                                         7
Earth Sciences Technology Applications                                                                3
Astronomy Space Physics                                                                               2
Experimental                                                                                          2
Earth observation                                                                                     2
Space Sciences                                                                                        1
Engineering Earth Sciences                                                                            1
Disaster management Radar imaging                                                                     1
Lunar exploration                                                                                     1
Earth imaging for defense applications (details classified)                                           1
Radar imaging                                                                                         1
Astronomy Earth Sciences Space Physics                                                                1
Amateur radio applications, Ionospheric studies and Maritime Satellite applications respectively.     1
Planetary Science                                                                                     1
Planetary Sciences                                                                                    1
Student satellite                                                                                     1
Earth Sciences Space Physics                                                                          1
Engineering                                                                                           1
Communications Engineering                                                                            1
Communications technology demonstrator                                                                1
Astronomy Communications Engineering Earth Sciences                                                   1
Communications satellite                                                                              1
Reconnaissance of electromagnetic spectrum (ELINT)                                                    1
High-throughput Telecommunication Satellite                                                           1
Military satellite                                                                                    1
Solar Physics Space Physics                                                                           1
High-throughput Communication Satellite                                                               1
Communications Technology Applications                                                                1
Hyperspectral imaging satellite                                                                       1
Astronomy Earth Sciences                                                                              1
Name: Discipline, dtype: int64


The following are the counts of each unique value in the COSPAR ID column:
2014-001A    1
2007-001C    1
2004-036A    1
2016-054A    1
2016-015A    1
            ..
2018-004A    1
1982-031A    1
2008-021A    1
2016-040J    1
1988-021A    1
Name: COSPAR ID, Length: 112, dtype: int64


The following are the counts of each unique value in the SatCat # column:
23751    1
27951    1
42767    1
40880    1
24820    1
        ..
14002    1
11392    1
23731    1
41793    1
41384    1
Name: SatCat #, Length: 110, dtype: int64


The following are the counts of each unique value in the Launch Mass column:
1,425 kg (3,142 lb)    6
35 kg (77 lb)          2
444 kg (979 lb)        2
975 kg (2,150 lb)      2
150 kg (330 lb)        2
                      ..
9.7 kg (21 lb)         1
3,164 kg (6,975 lb)    1
1,340 kg (2,950 lb)    1
1,000 kg (2,200 lb)    1
377 kg (831 lb)        1
Name: Launch Mass, Length: 108, dtype: int64


The following are the counts of each unique value in the Dry Mass column:
598 kg (1,318 lb)           4
916 kg (2,019 lb)           2
1,218 kg (2,685 lb)         2
1,480 kg (3,260 lb)         2
550 kg (1,210 lb)           2
985 kg (2,172 lb)           1
498 kg (1,098 lb)           1
1,348 kg (2,972 lb)         1
995 kg (2,194 lb)           1
819.4 kg (1,806 lb)         1
1,498 kg (3,303 lb)         1
1,386.55 kg (3,056.8 lb)    1
600 kilograms (1,300 lb)    1
1,150 kg (2,540 lb)         1
1,394 kg (3,073 lb)         1
976 kg (2,152 lb)           1
1,426 kg (3,144 lb)         1
970 kg (2,140 lb)           1
523 kg (1,153 lb)           1
1,440 kg (3,170 lb)         1
110 kg (240 lb)             1
682 kg (1,504 lb)           1
956 kg (2,108 lb)           1
946 kg (2,086 lb)           1
488 kg (1,076 lb)           1
614 kg (1,354 lb)           1
559 kg (1,232 lb)           1
603 kg (1,329 lb)           1
Name: Dry Mass, dtype: int64


The following are the counts of each unique value in the On-board Power column:
1660 W      7
16 W        3
900 W       2
986 W       2
6200 W      2
6474 W      2
750 W       2
1400 W      2
90 W        2
809 W       2
47 W        2
3000 W      2
45 W        2
3100 W      2
~ 1000 W    2
6000 W      2
600 W       2
3119 W      1
1000 W      1
1700 W      1
1250 W      1
1320 W      1
1360 W      1
1100 W      1
1671 W      1
6242 W      1
1712 W      1
4.7 kW      1
906 W       1
930 W       1
800 W       1
220 W       1
817 W       1
4500 W      1
5922 W      1
840 W       1
1650 W      1
3500 W      1
3 W         1
2200 W      1
415 W       1
2600 W      1
3.3 kW      1
1 W         1
2280 W      1
1 kW        1
1325 W      1
210 W       1
2765 W      1
2000W       1
550 W       1
46 W        1
1430 W      1
5859 W      1
1164 W      1
40 W        1
13.6 kW     1
510 W       1
2040 W      1
Name: On-board Power, dtype: int64


The following are the counts of each unique value in the Launch Date column:
26 September 2016, 9:12:00 IST    3
12 January 2018, 9:29:00 IST      3
15 February 2017, 9:28:00 IST     3
22 June 2016, 9:26:00 IST         3
12 October 2011, 11:00:00 IST     3
                                 ..
29 June 2017, 2:45:00 IST         1
1 June 1983, 13:19:00 IST         1
29 March 2018, 16:56:00 IST       1
22 May 2019, 5:30:00 IST          1
12 April 2018, 04:04:00           1
Name: Launch Date, Length: 103, dtype: int64


The following are the counts of each unique value in the Launch Vehicle column:
PSLV-C37           3
PSLV-C35           3
PSLV-C34           3
Ariane-5G          3
PSLV-C18           3
                  ..
PSLV-C24           1
Ariane 5 VA-227    1
PSLV-CA C46        1
PSLV-D3            1
Interkosmos-II     1
Name: Launch Vehicle, Length: 96, dtype: int64


The following are the counts of each unique value in the Launch Site column:
Satish Dhawan Space Centre, Sriharikota, Andhra Pradesh    87
Centre Spatial Guyanais, Kourou                            25
Air Force Eastern Test Range, Florida                       3
Baikonur Cosmodrome, Kazakhstan                             3
Kapustin Yar Missile and Space Complex                      3
Vandenberg Air Force Base, California, USA                  1
Name: Launch Site, dtype: int64


The following are the counts of each unique value in the Periapsis column:
35,720.2 km (22,195.5 mi)    1
568 km (353 mi)              1
35,741.2 km (22,208.6 mi)    1
500.8 km (311.2 mi)          1
723.6 km (449.6 mi)          1
                            ..
35,715.5 km (22,192.6 mi)    1
605.5 km (376.2 mi)          1
723.9 km (449.8 mi)          1
35,786.9 km (22,236.9 mi)    1
514.6 km (319.8 mi)          1
Name: Periapsis, Length: 102, dtype: int64


The following are the counts of each unique value in the Apoapsis column:
626.4 km (389.2 mi)          1
767.6 km (477.0 mi)          1
611 km (380 mi)              1
514.8 km (319.9 mi)          1
35,795.3 km (22,242.2 mi)    1
                            ..
35,846.9 km (22,274.2 mi)    1
35,872.6 km (22,290.2 mi)    1
35,817 km (22,256 mi)        1
823.3 km (511.6 mi)          1
~ 80,000 km (50,000 mi)§     1
Name: Apoapsis, Length: 103, dtype: int64


The following are the counts of each unique value in the Semi-Major Axis column:
42,164 km (26,199 mi)    16
42,165 km (26,200 mi)     9
42,166 km (26,201 mi)     3
7,011 km (4,356 mi)       3
7,197 km (4,472 mi)       3
6,886 km (4,279 mi)       3
42,338 km (26,308 mi)     2
6,881 km (4,276 mi)       2
42,163 km (26,199 mi)     2
42,285 km (26,275 mi)     1
42,248 km (26,252 mi)     1
6,985 km (4,340 mi)       1
42,193 km (26,218 mi)     1
41,197 km (25,599 mi)     1
6,931 km (4,307 mi)       1
42,241 km (26,247 mi)     1
42,186 km (26,213 mi)     1
7,060 km (4,390 mi)       1
6,917 km (4,298 mi)       1
7,228 km (4,491 mi)       1
6,845 km (4,253 mi)       1
6,992 km (4,345 mi)       1
7,019 km (4,361 mi)       1
-                         1
42,017 km (26,108 mi)     1
42,162 km (26,198 mi)     1
711 km (442 mi)           1
7,190 km (4,470 mi)       1
6,887 km (4,279 mi)       1
7,283 km (4,525 mi)       1
6,996 km (4,347 mi)       1
7,238 km (4,497 mi)       1
42,304 km (26,286 mi)     1
7,101 km (4,412 mi)       1
6,879 km (4,274 mi)       1
7,103 km (4,414 mi)       1
42,160 km (26,200 mi)     1
7,062 km (4,388 mi)       1
6,980 km (4,340 mi)       1
7,124 km (4,427 mi)       1
7,189 km (4,467 mi)       1
7,281 km (4,524 mi)       1
7,096 km (4,409 mi)       1
42,615 km (26,480 mi)     1
7,194 km (4,470 mi)       1
6,878 km (4,274 mi)       1
6,913 km (4,296 mi)       1
6,885 km (4,278 mi)       1
7,156 km (4,447 mi)       1
42,298 km (26,283 mi)     1
7,163 km (4,451 mi)       1
42,446 km (26,375 mi)     1
42,233 km (26,242 mi)     1
7,195 km (4,471 mi)       1
40,942 km (25,440 mi)     1
7,235 km (4,496 mi)       1
Name: Semi-Major Axis, dtype: int64


The following are the counts of each unique value in the Period column:
1436.1 mins              21
94.8 mins                 4
97.4 mins                 3
1,436.1 minutes           3
1436.2 mins               3
101.3 mins                3
1436.0 mins               3
94.6 mins                 2
99.3 mins                 2
103.1 mins                2
95.2 mins                 2
101.2 mins                2
97.1 mins                 2
101.1 mins                2
94.7 mins                 2
98.4 mins                 2
95.4 mins                 1
97 mins                   1
95.3 mins                 1
100.6 mins                1
13 hours                  1
101.9 mins                1
1445 mins                 1
1445.0 mins               1
96.9 mins                 1
100.4 mins                1
102.1 mins                1
96.7 mins                 1
95.7 minutes              1
94.8 minutes              1
1436.1 minutes            1
1435.9 mins               1
1442.9 mins               1
97 minutes 26 seconds     1
1440.4 mins               1
96.5 mins                 1
1374.1 mins               1
98.1 mins                 1
1440 mins                 1
1387 mins                 1
1439.6 mins               1
90.5 mins                 1
1450.6 mins               1
99.1 mins                 1
93.9 mins                 1
1428.6 mins               1
1437.6 mins               1
1442.3 mins               1
102.2 mins                1
1443.2 mins               1
90 mins                   1
91 mins                   1
96.8 mins                 1
97.6 mins                 1
1459.2 mins               1
99.7 minutes              1
1450.9 minutes            1
4602 mins§                1
1437.2 mins               1
95.9 mins                 1
Name: Period, dtype: int64


The following are the counts of each unique value in the Inclination column:
0.0°     10
0.1°      7
97.5°     6
97.9°     5
98.2°     3
         ..
44.7°     1
6.3°      1
46°       1
3°        1
11.2°     1
Name: Inclination, Length: 63, dtype: int64


The following are the counts of each unique value in the Longitude column:
83° E        5
93.5° E      4
74.0° E      4
55.0° E      3
71.66° E     1
95.03° E     1
111.75° E    1
125.76° E    1
82.5° E      1
16.18° E     1
32.5° E      1
63°E         1
55° E        1
97.57° E     1
158.51° W    1
126.83° E    1
55°E         1
82.0° E      1
107° W       1
60.57° E     1
47.5° E      1
107.82° E    1
199° W       1
48°E         1
21.41° W     1
129° E       1
97.5° E      1
74°E         1
40.85° E     1
87° E        1
83°E         1
17.37° E     1
89.71° E     1
112° E       1
74° E        1
156.74° W    1
Name: Longitude, dtype: int64


The following are the counts of each unique value in the Eccentricity column:
0.00385    2
0.00014    2
0.00245    2
0.00308    1
0.03306    1
0.04389    1
0.00159    1
0.00035    1
0.00077    1
0.00325    1
0.00160    1
0.00533    1
0.00143    1
0.03719    1
0.01735    1
0.00202    1
0.00319    1
0.02261    1
0.01295    1
0.00371    1
0.01131    1
0.00381    1
0.03431    1
0.00513    1
0.00271    1
Name: Eccentricity, dtype: int64


The following are the counts of each unique value in the Epoch Start column:
29 August 1991, 1:30:00 IST              2
28 April 2008, 5:24:00 IST               2
12 June 1990, 1:30:00 IST                2
4 January 2007, 4:27:00 IST              2
19 April 1975, 01:30:00 IST              1
21 May 1992, 1:30:00 IST                 1
7 June 1979, 01:30:00 IST                1
20 November 1981, 00:30:00 IST           1
28 September 2003 00:44:00 IST           1
18 April 2001, 11:43:00 IST              1
26 May 1999, 8:12:00 IST                 1
22 October 2008, 2:22:00 IST             1
21 March 1996, 5:23:00 IST               1
20 August 2019, 09:02 IST (03:32 UTC)    1
17 October 2003, 6:24:00 IST             1
31 May 1983, 09:19:00 IST                1
5 May 2005, 6:14:00 IST                  1
31 May 1981, 1:30:00 IST                 1
15 October 1994, 6:38:00 IST             1
17 April 1983, 00:30:00 IST              1
28 December 1995, 7:15:00 IST            1
10 April 1982, 07:17:00 IST              1
22 October 2002, 6:03:00 IST             1
30 June 2000, 00:59:00 IST               1
18 July 1980, 1:30:00 IST                1
15 July 2011, 12:48:00 IST               1
12 October 2011, 7:00:00 IST             1
19 June 1981, 1:30:00 IST                1
29 September 1997, 6:17:00 IST           1
10 July 1992, 1:30:00 IST                1
4 May 1994, 1:30:00 IST                  1
22 July 1988, 00:42:00 IST               1
17 March 1988, 00:30:00 IST              1
Name: Epoch Start, dtype: int64


The following are the counts of each unique value in the Decay Date column:
14 July 1992        1
17 February 1989    1
30 November 1991    1
8 June 1981         1
11 February 1992    1
12 July 2001        1
20 May 1981         1
18 April 2012       1
March 27, 2019      1
19 April 1990       1
Name: Decay Date, dtype: int64


The following are the counts of each unique value in the Note column:
This is one of 2 nano-satellites designed and manufactured by ISRO, are part of the constellation of 104 satellites launched in a single go                                                                                                                                                                          2
Used PSLV's 4th stage as orbital platform.                                                                                                                                                                                                                                                                           1
India's second lunar exploration mission. Orbital insertion successful, soft landing failed. First operational flight of GSLV Mk III.                                                                                                                                                                                1
Active technological experience in building and operating a satellite system. This was India's first indigenously designed and built satellite                                                                                                                                                                       1
Also designated GSAT-3. India's first exclusive educational satellite                                                                                                                                                                                                                                                1
                                                                                                                                                                                                                                                                                                                    ..
Identical to INSAT-4A. Further augments the INSAT capacity for direct-to-home (DTH) television services and other communications. On the night of 7 July 2007 INSAT-4B experienced a power supply glitch which led to switching 'off' of 50 per cent of the transponder capacity (6 Ku and 6 C-Band transponders)    1
Carried payload for launch vehicle performance monitoring and for gamma ray astronomy. Did not achieve orbit                                                                                                                                                                                                         1
Multipurpose communication: business communication, developmental communication, and mobile communications                                                                                                                                                                                                           1
Electromagnetic intelligence to track any enemy radars for Indian Armed Forces.                                                                                                                                                                                                                                      1
GSAT-6 is a communication satellite. GSAT- 6 features an unfurlable antenna, largest on board any satellite. Launch of GSLV-D6 also marks the success of indigenously developed upper stage cryogenic engine                                                                                                         1
Name: Note, Length: 120, dtype: int64